.cardInput__wrapper {
  margin-right: 5px;
}

.cardInput {
  background-color: #ffffff;
  min-height: 54px;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.cardInput input[type="textarea"] {
  /* margin-right: 5px;
  height: 54px;
  line-height: 0px; */
  width: 100%;
  /* overflow: hidden; */
  word-wrap: break-word;
  word-break: break-all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
