.list-wrapper {
  width: 280px;
  height: 100%;
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 6px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
